DEBUG_MODE=true
OPENAI_API_KEY=OPENAI API KEY
GOOGLE_APPLICATION_CREDENTIALS=./credentials/credentials.json
JIRA_USER=JIRA USER
JIRA_API_KEY=JIRA API TOKEN
JIRA_SITE=https://pmy.atlassian.net/wiki/
CHROMA_SERVER_HOST=192.168.1.1
CHROMA_SERVER_PORT=8000

DATABASE_USERNAME=DB_USER
DATABASE_PASSWORD=DB_PASSWORD
DATABASE_SERVER=192.168.1.1
DATABASE_DB=Database

LANGSMITH_API_KEY=KEY_LANGSMITH