
atlassian-python-api
Chroma
chromadb
conda
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
google-search-results
googleapis-common-protos
gptcache
langchain
langchainplus-sdk
langcodes
langkit
openai
openapi-schema-pydantic
opencv-python
pypdf
PyPDF2
tesseract
xlrd
docx2txt
pdf2image
yt_dlp
pydub